body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.div{
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0, 3);
    background-color: white;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border: 1px solid grey;
}
h1 {
    text-align: center;
    color: #1c8adb;
}
input {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 10%;
    border: 1px solid #999;
    outline: none;
}
select {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 18%;
    border: 1px solid;
    outline: none;
}
    
button {
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
}
.reset {
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
}